<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632843554534-gf2c3japn1hfkk60qa0fnrdsgc3k7sea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632843554534-gf2c3japn1hfkk60qa0fnrdsgc3k7sea</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>632843554534-tafptuaau598p2f1uncha2hei97pm3kp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnKraJOGg2fsb0VR93fnaI6he1VgAGuyc</string>
	<key>GCM_SENDER_ID</key>
	<string>632843554534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.linez</string>
	<key>PROJECT_ID</key>
	<string>barapp-5fbe5</string>
	<key>STORAGE_BUCKET</key>
	<string>barapp-5fbe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632843554534:ios:acbf89b7507ee6b7f9b527</string>
</dict>
</plist>